.card {
  display: grid;
  padding-top: 19px;
  padding-bottom: 25px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    padding: 0;
    grid-template-columns: 1fr;
    padding-bottom: 40px;
    padding-right: 38px;
    padding-left: 38px;
    box-sizing: border-box;
  }

}

.card__title {
  margin: 0;
  padding: 0;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  font-family: @second-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 18px;
  padding-right: 30px;

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: -1;
    margin: 0;
    padding: 0;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: center;
    text-align: center;
    width: 129px;
  }
}

.card__link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: @very-dark-gray;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }

}

.card__img {
  margin: 0;
  padding: 0;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: center;
  }
}

.card__descr {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 22px;

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 3;
    grid-row-end: 4;
  }

}

.card__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;


}

.card__item:last-child {
  margin-bottom: 0;
}

.card__text {
  margin: 0;
  padding: 0;
  font-family: @basic-font;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }

}

.card__button {
  font-family: @second-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 10px 109px;
  box-sizing: border-box;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  align-self: center;
  justify-self: center;

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 4;
    grid-row-end: 4;
    padding: 10px 93px;
  }

  @media (min-width: @desktop-width) {
    padding: 10px 93px;
  }
}
