.card {
  display: grid;
  padding-top: 23px;
  padding-bottom: 23px;
  box-sizing: border-box;
  column-gap: 36px;
  grid-template-columns: 100px 143px;
  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr;
    padding: 5px 38px 40px 34px;
    box-sizing: border-box;
  }
  @media (min-width: @desktop-width) {
    padding: 5px 38px 40px 37px;
  }
}

.card__title {
  margin: 0;
  padding: 0;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  font-family: @second-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 13px;
  padding-right: 67px;
  padding-left: 2px;
  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: -1;
    margin: 0;
    padding: 0;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: center;
    text-align: center;
    width: 135px;
    margin-bottom: 14px;
    padding-top: 150px;
  }
  @media (min-width: @desktop-width) {
    padding-top: 155px;
  }
}

.card__link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: @very-dark-gray;
  @media (min-width: @tablet-width) {
    padding-left: 3px;
    font-size: 20px;
    line-height: 24px;
  }

}

.card__img {
  margin: 0;
  padding: 0;
  padding-left: 33px;
  padding-top: 18px;
  @media (min-width: @tablet-width) {
    padding: 0;
  }
  @media (min-width: @desktop-width) {
    margin-bottom: 46px;
  }
}

.card__img--big {
  width: 80px;
  height: 100px;
  padding-top: 9px;
  padding-left: 30px;
  @media (min-width: @tablet-width) {
    padding: 0;
    position: absolute;
    width: 168px;
    height: 202px;
    transform: translateX(-50%);
    top: -76px;
  }
}

.card__img--small {
  width: 75px;
  height: 78px;
  padding-top: 25px;
  @media (min-width: @tablet-width) {
    position: absolute;
    width: 161px;
    height: 173px;
    transform: translateX(-50%);
    top: -73px;
  }
}

.card__img--another-small {
  width: 74px;
  height: 85px;
  padding-top: 13px;
  @media (min-width: @tablet-width) {
    position: absolute;
    transform: translateX(-50%);
    top: -45px;
    width: 161px;
    height: 172px;
    padding-top: 0px;
  }
}

.card__img-wrap {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  @media (min-width: @tablet-width) {
    margin-bottom: 5px;
    justify-self: center;
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}

.card__descr {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 22px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  padding-left: 4px;
  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 3;
    grid-row-end: 4;
    margin-bottom: 33px;
  }

}

.card__item {
  display: flex;
  justify-content: space-between;
  @media (min-width: @tablet-width) {
    margin: 0;
    padding-top: 6px;
    padding-bottom: 8px;
    border-bottom: 1px solid @gray;
    &:first-child(1) {
    padding-top: 0;
    }
  }
}

.card__item:last-child {
  margin-bottom: 0;
}

.card__text {
  margin: 0;
  padding: 0;
  font-family: @basic-font;
  color: @dark-gray;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }

}

.card__button {
  font-family: @second-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  width: 280px;
  padding: 10px 10px;
  text-align: center;
  box-sizing: border-box;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  align-self: center;
  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 4;
    grid-row-end: 4;
    width: 248px;
    margin-top: 2px;
    margin-left: 3px;
  }
  @media (min-width: @desktop-width) {
    width: 168px;
  }
}
