.contact {}

.contact__wrap {
  display: flex;
  justify-content: space-between;
}

.contact__title {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.contact__descr {
  font-family: @basic-font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: @dark-gray;
}

.contact__map{
  margin: 0;
  padding: 0;
}
