.contact {
  position: relative;
  background-color: @light-gray;
  padding-top: 13px;
  @media (min-width: @tablet-width) {
    padding-top: 50px;
  }
  @media (min-width: @desktop-width) {
    min-height: 400px;
    padding-top: 0;
  }
}

.contact--index-background {
  padding-top: 0;
  background-color: @basic-white;
  margin-top: 15px;
}
.contact__wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 13px;
  padding-bottom: 26px;
  @media (min-width: @tablet-width) {
    padding-top: 12px;
    padding-bottom: 57px;
  }
  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: flex-start;
    background-color: @basic-white;
    padding: 63px 89px 59px 35px;
    width: 570px;
    box-sizing: border-box;
    position: absolute;
    top: 99px;
    left: 31px;
    z-index: 3;
  }
}

.contact__wrap--index {
  @media (min-width: @desktop-width) {
   top: 86px;
  }
}


.contact__title {
  margin: 0;
  padding: 0;
  font-family: @second-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 25px;
    width: 171px;
    padding-left: 40px;
    padding-top: 2px;
  }
  @media (min-width: @desktop-width) {
    margin-right: 98px;
  }
}

.contact__descr-wrap{
  @media (min-width: @tablet-width) {
    justify-self: self-end;
    text-align: right;
    padding-right: 42px;
  }
}

.contact__descr {
  margin: 0;
  padding: 0;
  font-family: @basic-font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: @dark-gray;
  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
    width: 159px;
  }
  @media (min-width: @desktop-width) {
    text-align: left;
  }
}

.contact__descr:first-child {
  @media (min-width: @tablet-width) {
    margin-bottom: 19px;
  }
}

.contact__map{
  margin: 0;
  padding: 0;
  margin: 0 auto;
  display: block;
  width: 100%;
  height: 362px;
  @media (min-width: @tablet-width) {
    height: 400px;
  }
}
