.copyright {}

.copyright__link {
  margin: 0;
  padding: 0;
  font-family: @basic-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: @dark-gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  @media (min-width: @tablet-width) {
    display: flex;
    padding-top: 0;
  }
}

.copyright__svg {
  width: 27px;
  height: 24px;
  &:hover {
    color: @green;
  }
  &:active {
    fill: @green;
    opacity: 0.3;
  }
  @media (min-width: @tablet-width) {
    margin-left: 22px;
  }
}
