.example {
  background-color: @very-light-gray;
  padding-top: 27px;
  padding-bottom: 31px;
}

.example__wrap {}

.example__title {
  margin: 0;
  padding: 0;
  margin-bottom: 33px;
}

.example__description {
  margin: 0;
  padding: 0;
  font-family: @basic-font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: @dark-gray;
  padding-bottom: 25px;
}

.example__fact {
  margin-bottom: 25px;
}

.example__fact-digit {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.example__fact-text {
  margin: 0;
  padding: 0;
  font-family: @basic-font;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  color: @dark-gray;
}

.example__money {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 42px;
}

.example__img{
  margin-bottom: 23px;
}

.example__buttons {}

.example__button {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
