.example {
  padding-top: 27px;
  padding-bottom: 36px;
  position: relative;
  @media (min-width: @tablet-width) {
    padding-top: 28px;
    padding-bottom: 0;
    min-height: 1078px;
  }
  @media (min-width: @desktop-width) {
    padding-top: 2px;
    padding-bottom: 58px;
    min-height: auto;
  }
}

.example::before {
  content: "";
  position: absolute;
  background-color: @very-light-gray;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
  @media (min-width: @tablet-width) {
    height: 42%;
    top: 55%;
  }

  @media (min-width: @desktop-width) {
    height: 72%;
    top: 31%;
  }
}

.example__wrap {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 366px 2fr;
    row-gap: 54px;
    align-items: start;
    position: relative;
  }
  @media (min-width: @desktop-width) {
    grid-template-columns: 436px 650px;
    column-gap: 134px;
    row-gap: 0;
  }
}

.example__title {
  margin: 0;
  padding: 0;
  margin-bottom: 33px;
  font-family: @second-font;
  font-style: normal;
  font-weight: normal;
  @media (min-width: @tablet-width) {
    margin-bottom: 11px;
    grid-row-start: 1;
    grid-row-end: -1;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  @media (min-width: @desktop-width) {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    padding-top: 65px;
    margin-bottom: 93px;
  }
}

.example__description {
  margin: 0;
  padding: 0;
  font-family: @basic-font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: @dark-gray;
  margin-bottom: 25px;
  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    width: 702px;
    margin-bottom: 0;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  @media (min-width: @desktop-width) {
    width: 436px;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    margin-bottom: 17px;
  }
}

.example__wrap-fact {
  display: grid;
  grid-template-columns: 124px 124px;
  text-align: center;
  column-gap: 31px;
  @media (min-width: @tablet-width) {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-template-columns: 162px 162px;
    column-gap: 42px;
  }
  @media (min-width: @desktop-width) {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
  }
}

.example__fact {
  margin-bottom: 19px;
  position: relative;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.example__fact-digit {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 11px;
  text-align: center;
  border: 1px solid @gray;
  padding-top: 15px;
  padding-bottom: 18px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 3px;
  min-width: 84px;
  @media (min-width: @tablet-width) {
    min-width: 102px;
    padding: 15px 30px 17px;
    font-size: 30px;
    line-height: 37px;
  }
}

.example__fact-text {
  margin: 0;
  padding: 0;
  font-family: @basic-font;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  color: @dark-gray;
  width: 60px;
  background-color: @very-light-gray;
  margin-top: -21px;
  padding-left: 16px;
  padding-right: 16px;
  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 14px;
    min-width: 130px;
    margin-top: -19px;
    background-color: @basic-white;
    padding-left: 3px;
    padding-right: 3px;
  }
  @media (min-width: @desktop-width) {
    background-color: @very-light-gray;
  }
}

.example__wrap-money {
  display: flex;
  justify-content: center;
  @media (min-width: @tablet-width) {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    flex-direction: column;
    justify-content: right;
    padding-top: 10px;
  }
  @media (min-width: @desktop-width) {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
    flex-direction: row;
    padding-top: 4px;
  }
}

.example__money {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 42px;
  text-align: center;
  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    text-align: right;
    margin-bottom: 10px;
    min-width: 180px;
  }
  @media (min-width: @desktop-width) {
    min-width: 153px;
  }
}


.example__grid {
  display: flex;
  justify-content: center;
  margin-bottom: 9px;
  @media (min-width: @tablet-width) {
    justify-content: flex-start;
    margin: 0;
  }
  @media (min-width: @desktop-width) {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-self: center;
    height: 566px;
  }
}

.example__img {
  margin: 0;
  padding: 0;
  margin-bottom: 23px;
  box-sizing: border-box;
  width: 311px;
  height: 232px;
  @media (min-width: @tablet-width) {
    position: absolute;
    content: "";
    width: 708px;
    height: 667px;
    margin-top: 24px;
    margin-left: 14px;
    top: 381px;
    left: 27px;
  }
  @media (min-width: @desktop-width) {
    min-width: 690px;
    min-height: 667px;
    margin-bottom: 16px;
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    top: -20px;
    left: -19px;
  }
}


.example__scale {
  width: 84px;
  height: 14px;
  background-color: @basic-white;
  border: 1px solid @gray;
  border-radius: 6px;
  padding: 3px 6px;
  box-sizing: border-box;
  margin-left: 18px;
  margin-right: 18px;
  @media (min-width: @tablet-width) {
    width: 428px;
    height: 6px;
    background-color: @gray;
    margin-left: 27px;
  }
  @media (min-width: @desktop-width) {
    margin-left: 0;
    margin-right: 0;
  }
}

.example__bar {
  height: 6px;
  border-radius: 6px;
  background-color: @green;
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.example__toggle {
  display: none;
  @media (min-width: @tablet-width) {
    position: absolute;
    top: 0;
    display: block;
    width: 8px;
    height: 8px;
    border: 13px solid @basic-white;
    background-color: @green;
    border-radius: 50%;
    box-shadow: 1px @gray;
  }
  @media (min-width: @desktop-width) {
    top: -5px;
    left: 54%;
  }
}

.example__buttons {
  display: flex;
  justify-content: center;
  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: -1;
    position: absolute;
    bottom: -504px;
    left: -1px;
    position: relative;
    align-items: center;
  }
  @media (min-width: @desktop-width) {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;
    padding-left: 79px;
    bottom: 2px;
    left: -1px;
  }

}

.example__button {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px dotted @l-gray;
  }
}

.example__button--was {
  @media (min-width: @desktop-width) {
    margin-right: 38px;
  }
}

.example__button--become {
  @media (min-width: @desktop-width) {
    margin-left: 10px;
  }
}
