.field {
  display: flex;
  align-items: center;

  @media (min-width: @tablet-width) {
    margin-right: 36px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 0;
  }
}

.field__label {
  margin: 0;
  padding: 0;
  font-family: @second-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding-right: 13px;
  flex-shrink: 1;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}



.field__input {
  margin: 0;
  padding: 0;
  font-family: @second-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 10px 13px;
  box-sizing: border-box;
  flex-grow: 1;
  border: 1px solid @gray;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.field__input::-webkit-input-placeholder{
  color: @basic-black;
}

.field__input::-moz-placeholder{
  color: @basic-black;
}

.field__input--textarea {
  resize: both;
  width: 100%;
  max-width: 300px;
  min-width: 250px;
  min-height: 100px;

  @media (min-width: @tablet-width) {
    width: 100%;
    max-width: 800px;
    min-width: 400px;
    min-height: 100px;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    max-width: 1220px;
    min-width: 700px;
    min-height: 100px;
  }
}
