.field {
  display: flex;
  align-items: center;
  @media (min-width: @tablet-width) {
    margin-right: 36px;
  }
  @media (min-width: @desktop-width) {
    margin-right: 0;
  }
}

.field__label {
  margin: 0;
  padding: 0;
  font-family: @second-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding-right: 13px;
  flex-shrink: 1;
  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-right: 18px;
  }
}



.field__input {
  margin: 0;
  padding: 0;
  font-family: @second-font;
  color: @dark-gray;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 10px;
  box-sizing: border-box;
  flex-grow: 1;
  border: 1px solid @gray;
  &:hover {
    border: 1px solid @very-very-light-gray;
  }
  &:focus {
    border: 1px solid @dark-gray;
  }
  &:focus svg {
    color: @green;
  }
  &--error {
    border: 1px solid @very-light-red;
    color: @very-light-red;
  }
  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
  @media (min-width: @desktop-width) {
    padding-left: 17px;
  }
}

.field__input::-webkit-input-placeholder{
  color: @basic-black;
}

.field__input::-moz-placeholder{
  color: @basic-black;
}


.field__input-email {
  position: absolute;
  content: "";
  width: 20px;
  height: 14px;
  right: 15px;
  @media (min-width: @tablet-width) {
    right: 17px;
  }
}

.field__input-phone {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  right: 13px;
  @media (min-width: @tablet-width) {
    right: 17px;
  }
}
.field__input--textarea {
  resize: both;
  max-width: 280px;
  min-height: 150px;
  height: 150px;
  @media (min-width: @tablet-width) {
    max-width: 631px;
    width: 631px;
    min-height: 174px;
    height: 174px;
  }

  @media (min-width: @desktop-width) {
    max-width: 1220px;
    min-height: 174px;
  }
}
