.intro {}

.intro__container {}
.intro__background-img{
  background-image: linear-gradient(@moderate-green, @moderate-green), url(../../img/intro-background.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
  min-height: 302px;
  // background-size: cover;
}

.intro__title {
  margin: 0;
  padding: 0;
  font-size: 36px;
  line-height: 36px;
  color: @basic-white;
}

.intro__text {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: @basic-white;
}

.intro__pic {
  height: 270px;
}

.intro__button {
  font-size: 14px;
  line-height: 18px;
  padding: 7px 44px;
  grid-row: 3/4;
}
