.page-footer {
  background-color: @light-gray;
  padding-top: 39px;
  padding-bottom: 32px;
  @media (min-width: @tablet-width) {
    padding-top: 57px;
    padding-bottom: 58px;
  }
  @media (min-width: @desktop-width){
    padding-top: 64px;
  }
}

.page-footer__wrap {
  display: grid;
  row-gap: 22px;
  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

.page-footer__logo-wrap {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  @media (min-width: @tablet-width) {
    padding: 0;
    padding-top: 4px;
    justify-content: flex-start;
  }
  @media (min-width: @desktop-width){
    justify-content: flex-start;
  }
}

.page-footer__logo {
  &:active{
    opacity: 0.3;
  }
}

.page-footer__social {
  border-top: 1px solid @light-light-gray;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid @light-light-gray;
  padding-left: 73px;
  @media (min-width: @tablet-width){
    padding: 0;
    padding-top: 3px;
    border: none;
  }
}

.page-footer__copyright {
  @media (min-width: @tablet-width){
    display: flex;
    justify-content: flex-end;
  }
}
