.page-footer {
  display: flex;
  flex-direction: column;
  background-color: @light-gray;
  padding-top: 39px;
  padding-bottom: 32px;
}

.page-footer__logo-wrap {
  display: flex;
  justify-content: center;
}

.page-footer__logo {}

.page-footer__social {}

.page-footer__copyright {}
