.programs {

  @media (min-width: @desktop-width){
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    margin-bottom: 71px;

  }
}

.programs__wrap {
  background-color: @light-gray;
  padding: 30px 20px 18px 20px;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    padding: 77px 53px 52px;
  }


}

.programs__title {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin-left: 71px;
  margin-bottom: 29px;

  @media (min-width: @tablet-width) {
    margin: 0;
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 36px;
  }
}

.programs__descr {
  font-family: @basic-font;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 38px;
  color: @dark-gray;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    padding-right: 230px;
  }

  @media (min-width: @desktop-width){
    padding-right: 0;
  }
}

.programs__descr--width {
  @media (min-width: @tablet-width) {
    padding-right: 259px;
  }

  @media (min-width: @desktop-width){
    padding-right: 18px;
  }
}

.programs__link {
  display: block;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;

  }
}
