.programs {
  @media (min-width: @desktop-width){
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    margin-bottom: 71px;
  }
}

.programs__wrap {
  background-color: @light-gray;
  padding: 30px 20px 18px 20px;
  margin-bottom: 20px;
  position: relative;
  @media (min-width: @tablet-width) {
    padding: 77px 53px 52px;
    margin-bottom: 30px;
  }
}

.programs__wrap--slim::before {
  position: absolute;
  content: "";
  background-image: url(../../img/cat_back.svg);
  background-repeat: no-repeat;
  width: 50px;
  height: 53px;
  top: 21px;
  @media (min-width: @tablet-width) {
    background-image: url(../../img/cat_back-tablet.png);
    width: 200px;
    height: 211px;
    top: 81px;
    right: 62px;
  }
  @media (min-width: @desktop-width) {
    background-image: url(../../img/cat_back-desctop.png);
    width: 100px;
    height: 106px;
    top: 41px;
    left: 52px;
  }
}

.programs__wrap--weight::before {
  position: absolute;
  content: "";
  background-image: url(../../img/cat_weight.svg);
  background-repeat: no-repeat;
  width: 67px;
  height: 50px;
  top: 21px;
  left: 13px;
  @media (min-width: @tablet-width) {
    background-image: url(../../img/cat_weight-tablet.svg);
    width: 268px;
    height: 200px;
    top: 91px;
    left: 412px;
  }
  @media (min-width: @desktop-width) {
    background-image: url(../../img/cat_weight-desctop.svg);
    width: 134px;
    height: 100px;
    top: 47px;
    left: 33px;
  }

}

.programs__title {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin-left: 71px;
  margin-bottom: 29px;
  @media (min-width: @tablet-width) {
    margin: 0;
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 36px;
  }
  @media (min-width: @desktop-width) {
    padding-left: 161px;
    margin-bottom: 73px;
  }
}

.programs__descr {
  font-family: @basic-font;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  color: @dark-gray;
  border-bottom: 1px solid @light-light-gray;
  padding-bottom: 23px;
  @media (min-width: @tablet-width) {
    padding: 0;
    border: none;
    font-size: 16px;
    line-height: 24px;
    padding-right: 230px;
    margin-bottom: 48px;
  }
  @media (min-width: @desktop-width){
    padding-right: 0;
    margin-bottom: 23px;
  }
}

.programs__descr--width {
  @media (min-width: @tablet-width) {
    padding-right: 259px;
  }
  @media (min-width: @desktop-width){
    padding-right: 18px;
  }
}



.programs__link {
  display: block;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @basic-black;
  padding-right: 15px;
  padding-top: 15px;
  display: flex;
  align-items: center;
  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-top: 0;
  }
}

.programs__link p {
  margin: 0;
  padding: 0;
}

.programs__link svg {
  fill: currentColor;
  width: 32px;
  height: 10px;
}

.programs__link:hover {
  color: @black;
}
