.programs {}

.programs__wrap {
  background-color: @light-gray;
  padding: 30px 20px 18px 20px;
  margin-bottom: 20px;
}
.programs__wrap:last-child{
  margin-bottom: 27px;
}

.programs__title {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin-left: 71px;
  margin-bottom: 29px;
}

.programs__descr {
  font-family: @basic-font;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 38px;
  color: @dark-gray;
}

.programs__link {
  display: block;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;

}
