.radio {}

.radio__input {
  position: relative;
}

.radio__input+.radio__label::before {
  position: absolute;
  content: "";
  left: 0;
  top: -5px;
  width: 24px;
  height: 24px;
  border: 1px solid @gray;
  border-radius: 50%;
  @media (min-width: @tablet-width) {
    width: 36px;
    height: 36px;
  }
}

.radio__input:checked+.radio__label::after {
  position: absolute;
  content: "";
  left: 8px;
  top: 4px;
  width: 10px;
  height: 10px;
  background-color: @green;
  border-radius: 50%;
  @media (min-width: @tablet-width) {
    left: 11px;
    top: 6px;
    width: 16px;
    height: 16px;
  }
}

.radio__label {
  font-family: @second-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding-left: 45px;
  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
