.social {}

.social__list {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  // margin-bottom: 52px;
  // margin-top: 52px;
}

.social__item {
  margin-right: 38px;
}
.social__item:last-child{
  margin-right: 0;
}

.social__link {}
