@basic-white: #FFFFFF;
@white: rgba(100, 100, 100, 0.3);
@basic-black: #000000;
@black: rgba(0, 0, 0, 0.3);
@moderate-green: rgba(104, 183, 56, 0.85);
@green: #68b738;
@light-gray: #F2F2F2;
@very-light-gray: #EAEAEA;
@gray: #CDCDCD;
@dark-gray: #444444;
@very-dark-gray: #222222;
@very-very-dark-gray: #666666;
@dark-green: #5EAA2F;
@li-gray: #EBEBEB;
@light-light-gray: #D9D9D9;
@very-very-light-gray: #E7E7E7;
@basic-font: "Arial", sens-serif;
@second-font: "Oswald", Arial,  sans-serif;
@very-light-red: #FF8282;
@tablet-width: 768px;
@desktop-width: 1260px;
